doctype html
html(lang="en")
  head
    title Chargin?
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/plain" rel="author" href="/humans.txt")
    meta(name="theme-color", content="#000000")
    link(rel="shortcut icon" href="assets/img/favicon.ico")
    link(rel="stylesheet", href="assets/css/style.css")

    // Apple Touch Icons
    link(rel="shortcut icon" href="assets/img/favicon-32.png" sizes="32x32")
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="assets/img/favicon-228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="assets/img/favicon-195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/favicon-152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicon-144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="assets/img/favicon-128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/favicon-120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/img/favicon-96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicon-72.png")
    link(rel="apple-touch-icon-precomposed" href="assets/img/favicon-57.png")

    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Logan McAnsh")
    meta(name="twitter:description" content="Chargin")
    meta(name="twitter:image" content="https://mcansh.github.io/chargin/assets/img/favicon.png")
  body
  
    h1 Chargin?
    .charge
      .charge-fill

    script(src="./assets/js/bundle.min.js")
    script.
      if (location.protocol !== 'http:') {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('./assets/js/sw.min.js');
        }
      }
